node_modules
dist

.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts


# Contracts
contracts/node_modules
contracts/.env
contracts/coverage
contracts/coverage.json
contracts/typechain
contracts/typechain-types

contracts/cache
contracts/artifacts